html, body {
	margin: 0;
	padding: 0;
	background: #ffffcc;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 1em;
	color: black;
}

h1 {
	margin: 0;
	padding: 0;
}

button {
	cursor: url(http://www.nelsonwright.co.uk/game_project/web_images/sword_cursor.cur), default;
}

.titleBar {
		background-color:DarkGreen;
}

.page-container {
	width: 1260px;
	margin: auto;
}

.titleBar {
	background: darkgreen;
	height: 1.5em;
	font-weight:bold;
	padding-left: 15px;
	padding-top: 5px;
	color:white
}

.stats {
	float: right;
	width: 560px;
	height:320px;
	background: darkgreen;
	padding: 1em;
}

.stats table {
	border:solid black;
	width:260px;
	background-color:darkred;
	float:right;
}

.stats td {
	border:thin solid black;
	background-color:#eeeecc;
	padding:0.5em;
}

.stats td.max_values{
	border:thin solid black;
	background-color:#aacccc;
	padding:0.5em;
	text-align:right;
}

.mapAndMove {
	background-color: #CFDFC3;
	height:320px;
	padding:1em;
}

.mapAndMove table {
	border:solid black;
	border-collapse:collapse;
	float:left;
}

.mapAndMove tr {
	height:40px;
}

.mapAndMove td {
	border:thin dotted gray;
	text-align:center;
	background-color:#E6EFC2;
	width:2.1em;
}

.movementArea {
	display:inline;
	float:right;
	width:250px;
	margin-left:  0.1em;
	margin-right: 0.5em;
}

.movementArea h4 {
	margin-top: -0.5em;
}

.movementArea p {
	margin-top: 0;
	margin-bottom: 0.6em;
}

.mapAndMoveArrows {
	font-family: courier,monospace;
}

.action {
	background-color: #CAEE90;
	line-height: 18px;
	padding:1em;
	height:250px;
	width:640px;
}

.action h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

.action p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

.action #fight{
	background-color: #F5FF9F;
}
.action table {
	border:none;
	width:8em;
	background-color:darkred;
	float:right;
}
.action table td {
	border:thin solid black;
	background-color:#B9CFB5;
}

.buttons {
	position:relative;
	float: right;
	width: 560px;
	height: 250px;
	background-color: brown;
	padding: 1em;
}

.footer {
	clear: both;
	background: orange;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 0.7em;
	color: black;
	border-top: 1px solid #efefef;
	padding: 0.5em;
}

.footer a:hover {
	color: #df1d16;
}

.hidden {
	visibility: hidden;
}

.collapse {
	visibility: collapse;
}

.gone {
	display: none;
}

.block {
	display:block;
}

.floatLeft { float: left; }
.floatRight { float: right; }

.chooseHero {
	height:320px;
	background-color: #CAEE90;
	padding: 1em;
}

.chooseHero .heroes img{
	padding:0.5em;
}

.chooseHero .heroes img:hover{
	border-style: solid;
	border-width: 0.5em;
	padding: 0;
	border-color: yellow;
}

.mouseMoveHero {
	vertical-align:90%;
}

.calcAnswer {
	font-size: 200%;
	font-weight:bold;
}

.questLog {
	width:48%;
}

.flipHorizontal {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
