html, body {
	margin: 0;
	padding: 0;
	background: #ffffcc;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 1em;
	color: black;
}

h1 {
	margin: 0;
	padding: 0;
}

button {
	cursor: url(http://www.nelsonwright.co.uk/game_project/web_images/sword_cursor.cur), default;
}

caption {
    display: table-caption;
    text-align: right;
    padding: 0.6em;
    color: white;
}

.titleBar {
		background-color:DarkGreen;
}

.page-container {
	width: 1260px;
	margin: auto;
}

.titleBar {
	background: darkgreen;
	height: 1.5em;
	font-weight:bold;
	padding-left: 15px;
	padding-top: 5px;
	color:white
}

.stats {
	float: right;
	width: 560px;
	height:320px;
	background: darkgreen;
	padding: 1em;
}

.stats table {
	border:solid black;
	width:260px;
	background-color:darkred;
	float:right;
}

.stats td {
	border:thin solid black;
	background-color:#eeeecc;
	padding:0.5em;
}

.stats td.max_values{
	border:thin solid black;
	background-color:#aacccc;
	padding:0.5em;
	text-align:right;
}

.characterSelectedImage {
   margin:auto;
   display:block;
}

#statsHeroLabel {
   color: khaki;
   font-size: large;
   font-weight:bold;
}

#levelDesc {
   font-size: large;
   font-weight:bold;
   background-color:yellowgreen;
   padding: 0.5em;
}

#levelDesc span {
   font-weight:bold;
   font-size:x-large;
   color: indigo;
}

.textHeroInputBox {
   width:10em;
}

.mapAndMove {
	background-color: #CFDFC3;
	height:320px;
	padding:1em;
}

.mapAndMove table {
	border:solid black;
	border-collapse:collapse;
	float:left;
}

.mapAndMove tr {
	height:40px;
}

.mapAndMove td {
	border:thin dotted gray;
	text-align:center;
	background-color:#E6EFC2;
	width:2.1em;
}

.movementArea {
	display:inline;
	float:right;
	width:250px;
	margin-left:  0.1em;
	margin-right: 0.5em;
}

.movementArea h4 {
	margin-top: -0.5em;
}

.movementArea p {
	margin-top: 0;
	margin-bottom: 0.6em;
}

.mapAndMoveArrows {
	font-family: courier,monospace;
}

.action {
	background-color: #CAEE90;
	line-height: 18px;
	padding:1em;
	height:250px;
	width:640px;
}

.action h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

.action p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

.action #fight{
	background-color: #F5FF9F;
}
.action table {
	border:none;
	width:8em;
	background-color:darkred;
	float:right;
}
.action table td {
	border:thin solid black;
	background-color:#B9CFB5;
}

.buttons {
	position:relative;
	float: right;
	width: 560px;
	height: 250px;
	background-color: brown;
	padding: 1em;
}

.footer {
	clear: both;
	background: orange;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 0.7em;
	color: black;
	border-top: 1px solid #efefef;
	padding: 0.5em;
}

.footer a:hover {
	color: #df1d16;
}

.hidden {
	visibility: hidden;
}

.collapse {
	visibility: collapse;
}

.gone {
	display: none;
}

.block {
	display:block;
}

.floatLeft { float: left; }
.floatRight { float: right; }

.chooseHero {
	height:320px;
	background-color: #CAEE90;
	padding: 1em;
}

.chooseHero .heroes img {
   border-style: solid;
   border-width: 0.5em;
   border-color: #CAEE90;
   padding: 0;
   animation-name: fadeDownToGreen;
   animation-duration: 0.7s;
}

.chooseHero .heroes img:hover{
	border-style: solid;
	border-width: 0.5em;
	padding: 0;
	border-color: yellow;
   animation-name: fadeUpToYellow;
   animation-duration: 0.7s;
}

@keyframes fadeDownToGreen {
    from {border-color: yellow}
    to {border-color: #CAEE90}
}

@keyframes fadeUpToYellow {
    from {border-color: #CAEE90}
    to {border-color: yellow}
}

.mouseMoveHero {
	vertical-align:90%;
}

.answerText {
	font-size: 200%;
	font-weight:bold;
}

.questLog {
	width:48%;
}

.flipHorizontal {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.sleep {
   padding-bottom: 0;
}

.up3Ems {
   -ms-transform: translate(0em, -3em); /* IE 9 */
   -webkit-transform: translate(0em, -3em); /* Safari */
   transform: translate(0em, -3em);
}

.animateImage90Clockwise {
    top: 0%;
    left: 0%;
    -webkit-animation:spin 1.5s;
    -moz-animation:spin 1.5s;
    animation:spin 1.5s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100%
   {
      -ms-transform: translate(-3em, 0em) rotate(90deg);
      -webkit-transform: translate(-3em, 0em) rotate(90deg); /* Safari */
      transform: translate(-3em, 0em) rotate(90deg);
   }
}

.startingValues {
   float: left;
}

.startingValues p{
   color: white;
}

.startingValues p span{
   color: yellow;
   font-weight: bold;

}
