html, body {
	margin: 0;
	padding: 0;
	background: #ffffcc;	
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 1em;
	color: black;
	cursor: url(http://www.nelsonwright.co.uk/game_project/web_images/sword_cursor.cur), default;
}

h1 {
	margin: 0;
	padding: 0;
}

button {
	cursor: url(http://www.nelsonwright.co.uk/game_project/web_images/sword_cursor.cur), default;
}

#action h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#action p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#page-container {
	width: 1260px;
	margin: auto;	
}

#main-nav {
	background: darkgreen;
	height: 1.5em;
	font-weight:bold;
	padding-left: 15px;
	padding-top: 5px;
}

#map {
	background: #CFDFC3; 
	padding:15px;
	height:320px;
}

#map table {
	border:solid black;
	border-collapse:collapse;
}

#map tr {
	height:40px;
}

#map td {
	width:30px;
	border:thin dotted gray;
	text-align:center;
}

#map #heroes img{
	padding:5px;
}

#movementArea {
	padding-left:15px;
	padding-right:15px;
	width:200px;
	float:right;
}

#movementArea table {
	border:none;
	border-collapse:collapse;	
}

#stats {
	float: right;
	width: 600px;
	height:320px;
	background: darkgreen;	
	padding: 15px;
}

#stats table {
	border:solid black;
	width:200px;
	background-color:darkred;
	float:right;
}

#stats td {
	border:thin solid black;
	background-color:#eeeecc;
	padding:0.5em;
}

#action {
	background-color: #CAEE90;
	margin-right: 630px;
	line-height: 18px;
	padding:15px;
	height:250px;
	width:600px;
}

#action #fight{
	background-color: #F5FF9F;
}
#action table {
	border:none;
	width:8em;
	background-color:darkred;
	float:right;
}
#action table td {
	border:thin solid black;
	background-color:#B9CFB5;
}

#buttons {
	float: right;
	width: 600px;
	height: 250px;
	background: brown;	
	padding: 15px;
}

#footer {
	clear: both;
	background: orange;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 0.7em;
	color: black;
	border-top: 1px solid #efefef;
	padding: 3px;
}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}

#footer a:hover {
	color: #df1d16;
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
}

.hidden {
	display: none;
}

.floatLeft { float: left; }
.floatRight { float: right; }

